@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/* Colors */
:root {
    /* Standard colors */
    --color0: whitesmoke;
    --color1: black;
    --font1: 'Ubuntu', sans-serif;
}

/* Changeable colors */
.theme1 {
    /* Refined dark theme */
    --color0: #D8DEE9;
    --color1: #434C5E;
}

.theme2 {
    /* Light theme */
    --color0: #434C5E;
    --color1: #D8DEE9;
}

.theme3 {
    /* Colorful theme */
    --color0: #EBCB8B;
    --color1: #5E81Ac;
}

/* Main css */

body {
    size: 100%;
    background-color: var(--color1);
    color: var(--color0);
}

.MainTitle {
    font-family: var(--font1);
    font-size: 6vw;
    text-align: center;
}

#bernese {
    font-family: var(--font1);
    font-size: 5vw;
    text-align: center;
}

/* Widget customizations */

.weatherwidget-io {
    margin: 0 auto;
    width: 80%;
    height: 10%;
}

.themebutton {
    margin: 0 auto;
}